{% extends "layouts/app.twig" %}

{% block pageTitle %}Football 2018{% endblock %}

{% block content %}
    <!-- Header block -->
    {% include "layouts/header.twig" %}
    <!-- Header block end -->
    <div class="girls fw-relative fw-text-center fw-pt-45 fw-pb-60">
        <div class="overlay fw-absolute fw-left-0 fw-top-0 fw-width-1-1 fw-height-1-1"></div>
        <div class="container fw-relative fw-z-index-1">
            <h2 class="fw-margin-0 fw-fz-46 fw-color-white fw-text-uppercase fw-GloberBlackItalic fw-font-normal fw-mb-40">Ready to play with you</h2>
            {# Female slider  #}
            <div class="girls-slider js-girls-slider owl-carousel owl-theme fw-flex fw-flex-left fw-flex-top">
                <div class="girls-slider-slide fw-margin-auto fw-border-radius-10 fw-black-bg">
                    <div class="girls-slider-slide-img fw-height-300 fw-overflow-hidden fw-relative">
                        <img src="images/female/1.jpeg" class="fw-width-1-1 girls-slider-slide-img-main fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-40 fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/1.jpeg" class="fw-white-border fw-height-76 fw-width-76px fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">171</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">3</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Зеленые</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-color-white fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/837653?utm_source=Unisender&utm_medium=CPC&utm_campaign=email_follow" target="_blank" class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            Message
                        </a>
                    </div>
                </div>

                <div class="girls-slider-slide fw-margin-auto fw-border-radius-10 fw-black-bg">
                    <div class="girls-slider-slide-img fw-relative fw-height-300">
                        <img src="images/female/2.jpeg" class="girls-slider-slide-img-main fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">
                        <div class="profile-hover-info fw-pt-40 fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/2.jpeg" class="fw-white-border fw-height-76 fw-width-76px fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-color-white fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/839114?utm_source=Unisender&utm_medium=CPC&utm_campaign=email_follow" target="_blank" class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            Message
                        </a>
                    </div>
                </div>

                <div class="girls-slider-slide fw-margin-auto fw-border-radius-10 fw-black-bg">
                    <div class="girls-slider-slide-img fw-height-300">
                        <img src="images/female/3.jpeg" class="girls-slider-slide-img-main fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-40 fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/3.jpeg" class="fw-white-border fw-height-76 fw-width-76px fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-color-white fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/839335?utm_source=Unisender&utm_medium=CPC&utm_campaign=email_follow" target="_blank" class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            Message
                        </a>
                    </div>
                </div>

                <div class="girls-slider-slide fw-margin-auto fw-border-radius-10 fw-black-bg">
                    <div class="girls-slider-slide-img fw-height-300">
                        <img src="images/female/4.jpeg" class="girls-slider-slide-img-main fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-40 fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/4.jpeg" class="fw-white-border fw-height-76 fw-width-76px fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-color-white fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/132661" target="_blank" class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            Message
                        </a>
                    </div>
                </div>

                <div class="girls-slider-slide fw-margin-auto fw-border-radius-10 fw-black-bg">
                    <div class="girls-slider-slide-img fw-height-300">
                        <img src="images/female/5.jpeg" class="girls-slider-slide-img-main fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-40 fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/5.jpeg" class="fw-white-border fw-height-76 fw-width-76px fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-color-white fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/807124?utm_source=Unisender&utm_medium=CPC&utm_campaign=email_follow" target="_blank" class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            Message
                        </a>
                    </div>
                </div>

                <div class="girls-slider-slide fw-margin-auto fw-border-radius-10 fw-black-bg">
                    <div class="girls-slider-slide-img fw-height-300">
                        <img src="images/female/18.jpeg" class="girls-slider-slide-img-main fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-40 fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/18.jpeg" class="fw-white-border fw-height-76 fw-width-76px fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-color-white fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/332003" target="_blank" class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            Message
                        </a>
                    </div>
                </div>

                <div class="girls-slider-slide fw-margin-auto fw-border-radius-10 fw-black-bg">
                    <div class="girls-slider-slide-img fw-height-300">
                        <img src="images/female/19.jpeg" class="girls-slider-slide-img-main fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-40 fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/19.jpeg" class="fw-white-border fw-height-76 fw-width-76px fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-color-white fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/387424" target="_blank" class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            Message
                        </a>
                    </div>
                </div>

                <div class="girls-slider-slide fw-margin-auto fw-border-radius-10 fw-black-bg">
                    <div class="girls-slider-slide-img fw-height-300">
                        <img src="images/female/20.jpeg" class="girls-slider-slide-img-main fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-40 fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/20.jpeg" class="fw-white-border fw-height-76 fw-width-76px fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-color-white fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-color-white fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/841781" target="_blank" class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            Message
                        </a>
                    </div>
                </div>
            </div>
            {# end #}

            <p class="fw-fz-16 fw-color-white fw-RobotoBold fw-mt-35 fw-mb-0 fw-pb-30">Do you whant see more russian girls for your game?</p>

            <div class="lending-buttons fw-flex fw-flex-center fw-flex-middle">
                <a href="https://zolushka-project.ru/" target="_blank" class="fw-width-230 fw-red-bg-hover2 fw-height-44 fw-border-radius-130px fw-bg-color-red2 fw-color-white fw-fz-16 fw-flex fw-flex-center fw-flex-middle fw-RobotoRegular">Look all</a>
                <a data-popup-target="#download-app-popup" class="js-open-popup fw-width-230 fw-red-bg-hover2 fw-height-44 fw-border-radius-130px fw-bg-color-red2 fw-color-white fw-fz-16 fw-flex fw-flex-center fw-flex-middle fw-ml-20 fw-RobotoRegular fw-pointer">Download app</a>
            </div>
        </div>
    </div>

    <div class="bench-of-spare-girls">
        <div class="container fw-flex fw-flex-column fw-flex-center fw-flex-middle fw-pt-45 fw-pl-135 fw-pr-135 fw-pb-20">
            <h2 class="fw-margin-0 fw-text-center fw-fz-46 fw-text-uppercase fw-GloberBlackItalic fw-font-normal fw-mb-20">Bench of spare girls</h2>

            <div class="bench-of-spare-girls-items fw-grid fw-flex-center fw-flex-top">

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/6.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/6.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/809658?utm_source=Unisender&utm_medium=CPC&utm_campaign=email_follow" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/7.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/7.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/843822" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/8.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/8.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/730607" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/9.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/9.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/435323" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-height-300 fw-relative">
                        <img src="images/female/10.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/10.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/844006" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/11.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/11.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/742757" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/12.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/12.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/844474" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/13.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/13.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/843873" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/14.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/14.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/775541" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/15.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/15.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/720101" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/16.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/16.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/843158" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

                <div class="bench-of-spare-girls-items-item fw-border-radius-10 fw-items-shadow fw-box-shadow-hover fw-mb-30">
                    <div class="bench-of-spare-girls-items-item-img fw-relative fw-height-300">
                        <img src="images/female/17.jpeg" class="fw-width-1-1 fw-height-1-1 fw-border-radius-10" alt="">

                        <div class="profile-hover-info fw-pt-45 fw-bg-color-white fw-text-center fw-border-radius-10 fw-absolute fw-height-1-1 fw-width-1-1 fw-left-0 fw-top-0">
                            <img src="images/female/17.jpeg" class="profile-hover-info-img fw-height-68 fw-width-68 fw-margin-auto fw-border-radius-percent-50" alt="">
                            <div class="profile-hover-info-content fw-color-text fw-flex fw-flex-top fw-pt-25 fw-flex-center fw-text-left">
                                <ul class="fw-padding-0 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">Вес</li>
                                    <li class="fw-fz-14 fw-pb-5">Рост</li>
                                    <li class="fw-fz-14 fw-pb-5">Грудь</li>
                                    <li class="fw-fz-14 fw-pb-5">Цвет глаз</li>
                                </ul>

                                <ul class="fw-pl-20 fw-margin-0">
                                    <li class="fw-fz-14 fw-pb-5">55</li>
                                    <li class="fw-fz-14 fw-pb-5">170</li>
                                    <li class="fw-fz-14 fw-pb-5">2</li>
                                    <li class="fw-fz-14 fw-pb-5">Синий</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="name-and-message-wrap fw-flex fw-flex-middle fw-flex-space-between fw-pl-20 fw-pr-20 fw-pt-15 fw-pb-20">
                        <p class="fw-fz-14 fw-RobotoRegular">Girl name, <span>23</span></p>
                        <a href="https://zolushka-project.ru/profile/she/836171" target="_blank"
                           class="fw-fz-12 fw-flex fw-flex-middle fw-pl-10 fw-pr-10 fw-hover-red-white fw-flex-left fw-height-34 fw-border-radius-130px red-border fw-color-red2">
                            <span class="icon-message fw-fz-14 fw-mr-15"></span>
                            <span class="message">Message</span>
                        </a>
                    </div>
                </div>

            </div>

            <a href="https://zolushka-project.ru/" target="_blank" class="fw-margin-auto fw-width-290 fw-red-bg-hover fw-height-44 fw-mt-20 fw-border-radius-130px fw-bg-color-red2 fw-color-white fw-fz-16 fw-flex fw-flex-center fw-flex-middle fw-RobotoRegular">Look all</a>
        </div>
    </div>
    <!-- footer block -->
    {% include "layouts/footer.twig" %}
    <!-- footer block end -->
{% endblock %}