<header class="header fw-relative">
    <div class="overlay fw-absolute fw-left-0 fw-top-0 fw-width-1-1 fw-height-1-1"></div>
    <div class="container fw-relative fw-z-index-10 fw-pt-25">
       <div class="top-line fw-flex fw-flex-right fw-flex-top fw-pr-135">
           <div class="language fw-pointer fw-flex fw-flex-left fw-flex-middle fw-pl-3 fw-pr-7 fw-pt-3 fw-pb-3 fw-relative">
               <div class="language-icon"><img class="fw-width-23 fw-block" src="images/ru@2x.jpg" alt=""></div>
               <span class="language-title fw-block fw-fz-16 fw-color-white fw-ml-5">RU</span>

               {# Language list #}
               <ul class="fw-absolute language-list fw-pt-10 fw-pl-0 fw-pb-10 fw-bg-color-white">
                   <li>
                       <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                           <div class="language-icon"><img class="fw-width-23 fw-block" src="images/ru@2x.jpg" alt=""></div>
                           <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">RU</span>
                       </a>
                   </li>

                   <li>
                       <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                           <div class="language-icon"><img class="fw-width-23 fw-block" src="images/eng@2x.jpg" alt=""></div>
                           <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">EN</span>
                       </a>
                   </li>

                   <li>
                       <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                           <div class="language-icon"><img class="fw-width-23 fw-block" src="images/cn@2x.jpg" alt=""></div>
                           <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">CN</span>
                       </a>
                   </li>

                   <li>
                       <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                           <div class="language-icon"><img class="fw-width-23 fw-block" src="images/jp@2x.jpg" alt=""></div>
                           <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">JP</span>
                       </a>
                   </li>

                   <li>
                       <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                           <div class="language-icon"><img class="fw-width-23 fw-block" src="images/ko@2x.jpg" alt=""></div>
                           <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">KO</span>
                       </a>
                   </li>
               </ul>
               {# end #}
           </div>

       </div>

        <div class="header-content fw-text-center fw-pt-90 fw-pb-40">
            <h1 class="fw-fz-46 fw-font-normal fw-GloberBlackItalic fw-fz-46 fw-color-white fw-margin-0">Не промахнись!<br>Знакомься с русскими<br>девушками</h1>
            <h2 class="fw-fz-32 fw-color-white fw-font-normal fw-GloberBoldItalic fw-margin-0"> и забей свой гол в ворота женской сборной!</h2>

            <a href="#" class="fw-flex fw-flex-column fw-flex-center fw-mt-35">
                <div class="fw-width-68 fw-margin-auto">
                    <img class="fw-width-1-1 fw-block" src="images/logo@2x.png" alt="">
                </div>
                <span class="fw-fz-20 fw-block fw-mt-10 fw-color-red fw-RobotoBlack">800K+ USERS</span>
            </a>

            <p class="fw-color-white fw-RobotoBold fw-fz-16 fw-mt-20 fw-mb-25">Get app on your mobile phone to strike your goal right now!</p>
            
            <div class="fw-flex fw-flex-center fw-flex-middle fw-mb-20">
                <a href="#" class="fw-block"><img class="fw-block" src="images/ios-badge.svg" alt=""></a>
                <a href="#" class="fw-block fw-ml-10 fw-width-136 fw-height-40"><img class="fw-width-1-1 fw-height-1-1" src="images/google-play-badge-2@2x.png" alt=""></a>
            </div>

            <span class="fw-relative fw-RobotoRegular fw-margin-auto fw-fz-14 fw-color-white fw-opacity-7">
                <span class="fw-absolute fw-left-10 fw-top-0 fw-width-3  fw-height-3 fw-border-radius-percent-50 fw-bg-color-green"></span>
                <span class="fw-fz-18">Denim</span> – Project by DateCoin team
            </span>
        </div>
    </div>
</header>